asyncpg==0.30.0
fastapi==0.116.1
google-auth==2.38.0
langchain-openai==1.1.10
langgraph
langgraph-prebuilt
openai==2.21.0
PyJWT==2.10.1
pydantic==2.11.7
python-dotenv==1.1.1
requests==2.32.3
rich==14.1.0
uvicorn==0.23.1
